@page "/Tecnicos/EditTecnico"
@page "/EditTecnico/{TecnicoID:int}"

@rendermode InteractiveServer

@inject TecnicoServices tecnicoService
@inject NavigationManager navigationManager

<PageTitle>Editar Técnico</PageTitle>

<EditForm Model="@tecnico" OnValidSubmit="@OnValidSubmit">

    <DataAnnotationsValidator />
    <a href="" class="btn btn-outline-primary">Inicio</a>
    

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h3>@Titulo</h3>
            </div>

            <div class="card-body">
                @* Técnico ID *@
               

                @* Nombre *@
                <label>Nombre</label>
                <div class="input-group mb-3">
                    <InputText @bind-Value="@tecnico.Nombre" class="form-control" />
                    <ValidationMessage For="@(() => tecnico.Nombre)" />
                </div>

                @* Sueldo por Hora *@
                <label>Sueldo por Hora</label>
                <div class="input-group mb-3">
                    <InputNumber @bind-Value="@tecnico.SueldoHora" class="form-control" />
                    <ValidationMessage For="@(() => tecnico.SueldoHora)" />
                </div>

                <div class="card-footer d-flex justify-content-center">
                    <div class="btn-group">
                        <button class="btn btn-outline-success">@TextoBoton</button>
                        <a href="/Tecnicos/TecnicosIndex" class="btn btn-outline-primary"><i class="bi bi-arrow-left"></i> Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</EditForm>

@code {
    [Parameter] public int TecnicoID { get; set; }
    public RegistroTecnico.Models.Tecnicos tecnico { get; set; } = new RegistroTecnico.Models.Tecnicos();
    string TextoBoton = string.Empty;
    string Titulo = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        if (TecnicoID != 0)
        {
            tecnico = await tecnicoService.Buscar(TecnicoID);
            TextoBoton = "Actualizar Técnico";
            Titulo = "Editar Técnico";
        }
        else
        {
            TextoBoton = "Registrar Técnico";
            Titulo = "Nuevo Técnico";
        }
    }

    private async void OnValidSubmit()
    {
        if (await tecnicoService.Guardar(tecnico))
        {
            tecnico = new RegistroTecnico.Models.Tecnicos();
        }

        navigationManager.NavigateTo("/Tecnicos/TecnicosIndex");
    }
}
